html,body,#root{
  height:100%;
  margin:0;
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}
.app{
  display:flex;
  align-items:center;
  justify-content:center;
  min-height:100vh;
  background: #f7fafc;
}
header{ text-align:center }
